@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Selector de tipo id */
#contact-info {
    font-size: 9pt;
}

#logo {
    height: 80px;
}

/* Selector de tipo class */
.p-header {
    font-size: 10pt;
    color: gray
}

/* Selector general por etiqueta */
h1 {
    color: darkcyan
}

main {
    margin: 10px 40px;
    padding: 15px;
    background-color:beige;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

footer {
    text-align: center;
}